.dropdown-container {
  padding: 10px 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  height: 25px;
  width: 20px;
  transition: 0.5s; }
  .dropdown-container img {
    width: 100%;
    cursor: pointer; }
  .dropdown-container:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    transform: scale(1.1, 1.1); }
