.forgot-password-container {
  display: flex;
  justify-content: center;
  margin-top: 20%; }
  .forgot-password-container form {
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    width: 400px; }
    .forgot-password-container form .form-wrapper {
      padding: 50px; }
    .forgot-password-container form h1 {
      font-size: 3rem;
      font-weight: bold;
      color: #003358;
      margin-bottom: 25px; }
    .forgot-password-container form .reset-button {
      background-color: #35a3ca;
      width: 100%;
      color: #fff;
      padding: 20px;
      border: none;
      transition: 0.5s; }
      .forgot-password-container form .reset-button:hover {
        background-color: #2a82a2; }
    .forgot-password-container form .form-input-container {
      display: flex;
      flex-direction: column; }
      .forgot-password-container form .form-input-container input {
        margin-bottom: 15px;
        border: none;
        box-shadow: none;
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.5); }
        .forgot-password-container form .form-input-container input:focus {
          outline: none; }
