.sidebar-container {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 15px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25); }
  .sidebar-container .nav-container {
    display: flex;
    flex-direction: column; }
    .sidebar-container .nav-container .nav-icon-container {
      display: flex;
      justify-content: center;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      height: 30px; }
      .sidebar-container .nav-container .nav-icon-container a {
        height: 100%; }
        .sidebar-container .nav-container .nav-icon-container a img {
          height: 100%;
          filter: grayscale(1);
          transition: 0.25s;
          cursor: pointer; }
          .sidebar-container .nav-container .nav-icon-container a img:hover {
            filter: grayscale(0);
            transform: scale(1.1, 1.1); }
