@import '../../styles/variables';

.sidebar-container {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 15px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);

  .nav-container {
    display: flex;
    flex-direction: column;

    .nav-icon-container {
      display: flex;
      justify-content: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 50px;
      height: 30px;
      cursor: pointer;

      a {
        height: 100%;
        margin-bottom: 10px;

        img {
          height: 100%;
          filter: grayscale(1);
          transition: 0.25s;
        }
      }

      .icon-name {
        font-size: 0.5rem;
        text-transform: uppercase;
        transition: 0.25s;
      }

      &:hover {
        a {
          img {
            filter: grayscale(0);
            transform: scale(1.1, 1.1);
          }
        }

        .icon-name {
          color: $link-color;
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
}
