.dashboard-container {
  flex: 16;
  padding: 30px 50px;
  border: 1px solid green;

  .dashboard-header {
    height: 30px;
    margin-bottom: 50px;
    border: 1px solid red;

    img {
      height: 100%;
    }
  }
}
